<!-- BryntumDemoHeader component is used for Bryntum example styling only and can be removed -->
<bryntum-demo-header></bryntum-demo-header>

<div class = "content">
    <bryntum-gantt-project-model
        #project
        [calendar]     = "projectConfig.calendar!"
        [startDate]    = "projectConfig.startDate!"
        [hoursPerDay]  = "projectConfig.hoursPerDay!"
        [daysPerMonth] = "projectConfig.daysPerMonth!"
        [tasks]        = "tasks"
        [timeRanges]   = "timeRanges"
        [assignments]  = "assignments"
        [resources]    = "resources"
        [dependencies] = "dependencies"
        [calendars]    = "calendars"
    ></bryntum-gantt-project-model>
    <bryntum-gantt
        [project]           = "project"
        [columns]           = "ganttConfig.columns!"
        [subGridConfigs]    = "ganttConfig.subGridConfigs!"
        [timeRangesFeature] = "ganttConfig.features!.timeRanges!"
        [flex]              = "ganttConfig.flex!"
    ></bryntum-gantt>
    <bryntum-splitter></bryntum-splitter>
    <bryntum-grid
        [rowHeight]     = "gridConfig.rowHeight!"
        [cls]           = "gridConfig.cls!"
        [flex]          = "gridConfig.flex!"
        [minWidth]      = "gridConfig.minWidth!"
        [stripeFeature] = "gridConfig.features!.stripe!"
        [sortFeature]   = "gridConfig.features!.sort!"
        [store]         = "gridConfig.store!"
        [columns]       = "gridConfig.columns!"
        [data]          = "unplanned"
    ></bryntum-grid>
</div>
