<!-- BryntumDemoHeader component is used for Bryntum example styling only and can be removed -->
<bryntum-demo-header></bryntum-demo-header>

<bryntum-gantt
    #gantt
    [project]            = "ganttConfig.project!"
    [dependencyIdField]  = "ganttConfig.dependencyIdField!"
    [columns]            = "ganttConfig.columns!"
    [subGridConfigs]     = "ganttConfig.subGridConfigs!"
    [rowHeight]          = "ganttConfig.rowHeight!"
    [baselinesFeature]   = "ganttConfig.features!.baselines!"
    [columnLinesFeature] = "ganttConfig.features!.columnLines!"
    [filterFeature]      = "ganttConfig.features!.filter!"
    [labelsFeature]      = "ganttConfig.features!.labels!"
    [tbar]               = "ganttConfig.tbar!"
    [ngClass]            = "baselineCls"
></bryntum-gantt>
