.custom-styling {
    .b-sch-event-segments {
        height        : 100%;
        border-bottom : none;
        background    : #bbbbbb40;
        border-radius : 2px;
    }

    .b-gantt-task-wrap .b-gantt-task,
    .b-gantt-task.b-sch-event-segments .b-sch-event-segment
    {
        --event-background-color : #7dc9b2;
    }

    .b-gantt-task-parent .b-gantt-task:not(.b-milestone) {
        background-color : #7ad0f4;
    }
}
