.b-task-baseline[data-index="1"] {
    display : none;
}
.b-task-baseline[data-index="2"] {
    display : none;
}

.user-avatar {
    width: 1.2em;
    height: 1.2em;
    font-size: 28px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    background-size: cover;
    margin-inline-end: 0.25em;
}

