.calendar {
    display        : flex;
    flex-direction : column;
    position       : relative;
    align-items    : center;
    margin-right   : 8px;
    background     : #fff;
    width          : 24px;
    height         : 28px;
    box-shadow     : 0 0 10px #00000020;
    border-radius  : 4px;
    overflow       : hidden;

    &::before {
        content    : "";
        position   : absolute;
        top        : 0;
        left       : 0;
        right      : 0;
        height     : 9px;
        background : #d93737;
    }

    .date {
        position : absolute;
        font-size : 12px;
        bottom    : 3px;
        color     : #333;
    }

    .month {
        position : absolute;
        font-size : 8px;
        top       : -1px;
        color     : #fff;
    }
}
